.top-bar {
    width: 100%;
    height: 50px;
    background-color: rgb(20, 29, 94);
}

header {
    display: flex;
    vertical-align: middle;
    line-height: 50px;
    color: white;
}

h4 {
    line-height: 50px;
}

ul {
    list-style: none;
    text-align: right;
}

li {
    display: inline;
    margin-left: 40px;
}

.first-section-container {
    width: 100%;
    height: 450px;
    background-color: rgb(64, 219, 149);
}

.first-section-content {
    width: 80%;
    height: 450px;
    margin: 0 auto;
    background-color: rgb(80, 132, 169);
    position: relative;
    vertical-align: middle;
    text-align: center;
}
