.row {
    display: flex;
    flex-wrap: wrap;
}

.top-bar {
    width: 100%;
    height: 50px;
    background-color: rgb(20, 29, 94);
}

header {
    display: flex;
    vertical-align: middle;
    line-height: 50px;
    color: white;
}

h4 {
    line-height: 50px;
}

ul {
    list-style: none;
    text-align: right;
}

li {
    display: inline;
    margin-left: 40px;
}

.first-section-container {
    width: 100%;
    height: 450px;
    background-color: rgb(64, 219, 149);
    margin-bottom: 50px;
}

.first-section-content {
    width: 40%;
    height: 450px;
    margin: 0 auto;
    background-color: rgb(80, 132, 169);
}

.portfolio-title {
    background-color: red;
    height: 125px;
}

.portfolio-content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(80, 132, 169);
    margin-bottom: 55px;
}

.logo {
    background-color: red;
    border: 1px solid white;
}

.img {
    height: 250px;
    width: 100%;
    background-color: rgb(136, 249, 125);
}

.about-container {
    background-color: aquamarine;
    height: 550px;
}

.row-about {
    display: flex;
}

.about-title {
    background-color: black;
    height: 100px;
    padding-top: 70px;
}

.about-col {
    background-color: white;
    height: 400px;
}